nav.nav {
    background: transparent;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1000;
    &.scroll {
        position: fixed;
        background: rgba(0,0,0,0.7);
    }
    &.stop {
        background: transparent;
        z-index: 1002!important;
        a:hover {
            background: none!important;
            color: #ddd!important;
        }
    }
    &.scroll.stop {
        box-shadow: none!important;
        animation: none!important;
    }
    a {
        text-decoration: none;
        color: #ddd;
        display: inline-block;
        padding: 20px 30px;
        transition: 0.5s;
        &:hover {
            background: #666;
            color: #eee;
        }
        &.toggle-button {
            padding: 10px 20px;
            .bar1, .bar2, .bar3 {
                width: 30px;
                height: 5px;
                background-color: #ddd;
                margin: 6px 0;
                transition: 0.4s;
            }
        }
        &.change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
            transform: rotate(-45deg) translate(-9px, 6px) ;
        }
        &.change .bar2 {opacity: 0;}
        &.change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
            transform: rotate(45deg) translate(-8px, -8px) ;
        }
    }
}
.nav-side {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1001;
    ul {
        list-style: none;
        padding: 0;
        width: 100%;
        margin-top: 60px;
        li {
            padding: 15px 40px;
            transition: 0.5s;
            a {
                text-decoration: none;
                color: #ddd;
            }
            &:hover {
                background: #666;
                cursor: pointer;
            }
        }
    }
}
@media screen and (min-width: 700px) {
    .main-page-div {
        .first-parallax {
            width: 100%;
            height: 500px;
            background: url('/images/1.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100% 500px;
        }
        .second-parallax {
            width: 100%;
            height: 700px;
            background: url('/images/3.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .third-parallax {
            width: 100%;
            height: 700px;
            background: url('/images/5.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    nav.nav {
        a.toggle-button {
            display: none;
        }
    }
    .home-div {
        .home-profile_bg {
            background-repeat: no-repeat!important;
            background-attachment: fixed!important;
            background-size: 100% 400px!important;
            height: 400px;
        }
        img.profile {
            position: absolute;
            bottom: 0;
            transform: translate(50%, 50%);
        }
    }
}
@media screen and (max-width: 700px) {
    .main-page-div {
        .first-parallax {
            width: 100%;
            height: 500px;
            background: url('/images/1.jpg');
            background-repeat: no-repeat;
            background-size: 100% 500px;
        }
        .first-parallax-writting {
            div {
                margin-bottom: 40px;
            }
        }
        .second-parallax {
            width: 100%;
            height: 500px;
            background: url('/images/3.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .third-parallax {
            width: 100%;
            height: 500px;
            background: url('/images/5.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    nav.nav {
        .pull-right {
            span {
                display: none;
            }
        }
    }
    .home-div {
        .home-profile_bg {
            background-repeat: no-repeat!important;
            background-size: 100% 400px!important;
            height: 400px;
        }
        img.profile {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
        }
    }
}
.main-page-div {
    .first-parallax-writting {
        margin-top: 180px;
        margin-bottom: 80px;
    }
    .second-parallax, .third-parallax {
        position: relative;
    }
}
a.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none!important;
    margin: 5px 2px;
    transition: 0.4s;
    &:hover {
        opacity: 0.7;
    }
    &.fa-facebook {
        background: #3B5998;
        color: white;
    }
    &.fa-twitter {
        background: #55ACEE;
        color: white;
    }
    &.fa-youtube {
        background: #bb0000;
        color: white;
    }
    &.fa-github {
        background: #222;
        color: white;
    }
}
.news-show {
    position: relative;
    background: #333;
    ::selection {
        background: transparent;
    }
    .mySlides-container {
        overflow: auto;
        padding-bottom: 0!important;
        padding-left: 40px;
        padding-right: 40px;
    }
    .mySlides {
        width: 100%;
    }
    @media screen and (min-width: 767px) {
        .textheight {
            height: 500px;
            & > div > div {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        text-decoration: none;
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
    }
    .dot {
        cursor: pointer;
        height: 13px;
        width: 13px;
        margin: 0 2px;
        background-color: #717171;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .active, .dot:hover {
        background-color: #bbb;
    }
    .image-animate {
        float: right;
        overflow: hidden;
        animation-name: image_animate;
        animation-duration: 2s;
    }
    .animate_hide {
        float: left;
        overflow: hidden;
        animation-name: image_animate_hide;
        animation-duration: 2s;
    }
    @keyframes image_animate {
        from {width: 0}
        to {width: 100%}
    }
    @keyframes image_animate_hide {
        from {width: 100%}
        to {width: 0;}
    }
    @media only screen and (max-width: 300px) {
        .prev, .next, .text {font-size: 11px}
    }
}
.view-users {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1003;
    background: rgba(0,0,0,0.8);
    .close {
        color: white!important;
        margin-right: 10px;
    }
    .users {
        margin-top: 20px;
        .u-1, .u-2 {
            overflow: hidden;
            padding: 1px;
            vertical-align: middle;
        }
        @media screen and (min-width: 767px) {
            .u-1, .u-2 {
                display: inline-block;
            }
        }
    }
}
